<ion-view title="Camera Tab Default Page" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="cameraTabDefaultPage-button-bar1" class="button-bar">
      <button id="cameraTabDefaultPage-button7" class="button button-assertive button-block">Tap me!</button>
      <button id="cameraTabDefaultPage-button4" class="button button-assertive button-block">1</button>
      <button id="cameraTabDefaultPage-button5" class="button button-assertive button-block">2</button>
      <button id="cameraTabDefaultPage-button6" class="button button-assertive button-small button-block">3</button>
    </div>
  </ion-content>
</ion-view>